// rewrite bootstrap scss
$blue: #1da1f2;
$green: #42b72a;
$border-radius: 0;
$paragraph-margin-bottom: 0;
$gray-600: rgb(245, 245, 245);

@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  background-size: 300% 300%;
  background: url("./bg.jpg") no-repeat;
  animation: gradient 180s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.user-div:hover {
  background-color: rgb(250, 250, 250);
}

.messages-box {
  height: 500px;
  overflow-y: scroll;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.message-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.info-text {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 0.6rem;
}
.nav-link-button {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 700;
  transition: all 0.5s;
  text-decoration: none;
  color: #3f2b96;
  background: white;
}

.nav-link-button:hover {
  text-decoration: none;
  background: linear-gradient(to bottom, #3f2b96, #a8c0ff);
  color: rgb(245, 245, 245);
}
.name-user {
  font-size: 16px;
  font-weight: 500;
  color: green;
}
.send-friend {
  color: #1877f2;
  font-size: 14px;
  margin-bottom: 0;
}
.message-main-board {
  box-shadow: -10px 10px 20px 30px rgba(231, 245, 37, 0.1);
}
.react-icon-button {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  transition: all 0.5s;
  &:hover {
    text-decoration: none;
    font-size: 1.25rem;
  }
}

.btn:focus {
  box-shadow: none;
}

.reactions-div {
  position: absolute;
  right: -10px;
  bottom: -25px;
  font-size: 0.8rem;
}

// home page cup animation
#container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: -1;
}
.steam {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -75px;
  margin-left: 75px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

#cup {
  z-index: 1;
}

#cup-body {
  position: absolute;
  height: 200px;
  width: 300px;
  border-radius: 0 0 150px 150px;
  background-color: lightyellow;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

#cup-shade {
  position: relative;
  height: 300px;
  width: 200px;
  background-color: #f3f3f3;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(50deg);
  z-index: 1;
}

#cup-handle {
  position: relative;
  height: 75px;
  width: 80px;
  border-radius: 0 150px 150px 0;
  border: 15px solid #f3f3f3;
  margin-bottom: 95px;
  margin-left: 250px;
  display: inline-block;
  z-index: 0;
}

#saucer {
  position: absolute;
  height: 30px;
  width: 300px;
  border-radius: 0 0 100px 100px;
  background-color: lightblue;
  margin-top: -7px;
  margin-left: 5px;
  z-index: 2;
}

#shadow {
  height: 10px;
  width: 300px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 6px;
  background-color: #7bb8d4;
}
// end of home page cup animation
